/* The following is standard css that will be included with all apps.  Do not make changes to this file.  Any changes to this file will not be reflected in your published app. */

/* Table of Contents
Section 1 - Basic Elements
Section 2 - Text Elements
Section 3 - Page Structure
Section 4 - Sidebar & Navigation
Section 5 - Primary Content
Section 6 - Contribute Content
Section 7 - Ad Elements
Section 8 - Footer Structure
Section 9 - Web Logic 
Section 10 - Navigation Elements
Section 11 - jQuery & UI Elements 
*/





/* Section 1 - Basic Elements */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	background: #1d4342;
	min-width: 1260px;
	margin: 0% auto;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body, html {
	width: 100%;
	height: 100%;
}





/* Section 2 - Text Elements */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}
h1 {
	font-size: 36px;
	font-weight: bold;
	line-height: 2.5;
}
h2 {
	font-size: 24px;
	font-weight: bold;
	line-height: 2;
}
h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5;
}
h4 {
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.625em;
}
a {
   cursor : pointer ;
}
p {
	margin-bottom: 1.625em;
}
ul, ol {
	margin: 0 0 1.625em 2.5em;
}
ul {
	list-style: square;
}
ol {
	list-style-type: decimal;
}
strong {
	font-weight: bold;
}
cite, em, i   {
	font-style: italic;
}
blockquote {
	font-family: Georgia, "Bitstream Charter", serif;
	font-style: italic;
	font-weight: normal;
	margin: 0 3em;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
blockquote cite {
	color: #666;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
table {
	border-collapse: collapse;
	margin-bottom: 25px;
}
th {
	font-weight: bold;
}
td {
	padding: 5px 10px;
}
.table-disabled {
	background: #e4e4e4;
}





/* Section 3 - Page Structure */
#page {
	background: #ffffff;
	padding: 0%;
}





/* Section 4 - Sidebar & Navigation */
#secondary {
	float: left;
	color: #ffffff;
	padding: 10px;
}
#menu {
	float: left;
	padding: 0 0;
	background-color: #363636;
	height:100%;
	position: fixed;
	overflow-y: auto;
	overflow-x: hidden;
}
.offscreen {
	display: none;
}
#collapsed-menu {
	float: left;
	width: 5%;
	min-width: 63px;
	padding: 0 0;
	background-color: #363636;
	height: 100%;
	position: fixed;
}
.logo {
	background-color: #1d4342;
	padding: 13px 8px; 
	height: 50px;
	margin: 0 auto;
	clear: both;
	text-align: center;
}
.logo img {
	height: 50px;
	border: 0px;
}
.menu-collapse {
	height: 30px;
	background-color: #363636;
	padding: 10px 0;
	border-top: 3px solid #363636;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.menu-collapse a, .menu-collapse a:visited {
	color: #ffffff;
	text-decoration: none;
}
.menu-collapse a:hover {
	color: #cccccc;
}
.menu-link {
	width: 100%;
	display: block;
}
.help-snapback {
	clear: both;
	background-color: #595959;
	color: #ffffff;
	margin: 5%;
	padding: 2%;
	text-align: center;
	border-top: 25px solid #363636;
	font-size: 14px;
}
.help-snapback a {
	border:none;
    outline:none;
	text-decoration: none;
	color: #ffffff;
}
.help-snapback-header {
	font-size: 20px;
}
.help-snapback-header img {
	vertical-align: middle;
	margin-right: 10px;
	border:none;
    outline:none;
}
.help-snapback-text {
	margin-top: 15px;
}





/* Section 5 - Primary Content */
#primary {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #1d4342;
	padding: 0% 0%;
	display: none; 
	border-left: 3px solid #363636;
}
#app-intro {
	background-color: #1d4342;
	padding: 13px 2%; 
	height: 50px;
	margin: 0 0;
}
.add-to-menu {
	background: url(../media/add-to-menu.png) no-repeat bottom;
	width: 60px;
	height: 60px;
	display: inline-block;
	margin: 0 10px 0 0;
    vertical-align: middle;
	float: left;
}
.add-to-menu:hover {
	background: url(../media/add-to-menu-hover.png) no-repeat bottom;
}
.app-name {
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	position: relative;
	float: left;
}
.app-last-modified {
	font-size: 14px;
}
.producer-credits {
	background-color: #173d34;
	position: relative;
	float: right;
	text-align: center;
	padding: 5px 10px;
	border: 2px solid #363636;
	width: 300px;
}
.producer-credits img{
	position: relative;
	float: left;
	margin: 0 5px;
}
.producer-credits a, .producer-credits a:visited, .producer-credits a:hover, .producer-credits a:active {
	color: #ffffff;
}
#content-container {
	background-color: #ffffff;
	padding: 1% 2%;
	min-height: 300px;
	color: #1d4342;
}
#tab-container {
	width: 100%;
	border-top: 3px solid #363636;
	border-bottom: 3px solid #363636;
	background-color: #173d34;
}
#tabnav {
    text-align: left;
    width: 100%;
	height: 50px;
	margin-left: -19px;
}
#tabnav ul {
    display: inline;
}
#tabnav li {
    display: inline;
}
#tabnav span {
    display: inline-block;
    width: 100%;
}    
#tabnav a {
    display: inline-block;
}
.tabs a {
	display: inline-block;
	padding:5px 15px;
	color:#fff;
	text-decoration:none;
	height: 80%;
	margin-top: 10px;
	font-weight: normal;
	font-size: 16px;
}
.tabs a:hover {
	background:#ffffff;
	color:#1d4342;
}
.tabs a.active {
	background:#ffffff;
	color:#1d4342;
}
.section_title {
	padding: 0 0 15px 0;
}
#run {
	width: 18%;
	text-align: left;
	float: left;
	font-weight: bold;
	margin: 0 0 15px 0;
	border: none
}
#run .btn {
	padding: 10px 20px;
	background: #eee;
	border: 2px solid #BDBDBD;
	font-weight: bold;
	font-size: 14px;
	width: 100%;
	white-space: normal;
}
#run .btn:hover{
	background: #424242;
	border: 2px solid #1C1C1C;
	color: #fff;
	cursor: pointer;
}
#description {
	width: 80%;
	float: right;
	border : none ;
}
.developers-message {
	padding: 15px;
	background: #e4e4e4;
}
.main-table {
	width: 100%;
	clear: both;
	border: 3px solid #363636;
	padding: 5px 15px;
	margin-bottom: 25px;
	background-color: #e3e3e3;
	border-collapse: collapse; 
}
.main-table td {
	border: none;
	border-bottom: 1px solid black;
	padding: 15px;
}
.main-table td button {
	width: 100%;
	height: 100%;
    min-height: 35px;
	background-color: #1d4e42;
	color: #ffffff;
	font-weight: bold;
	border: 3px solid #363636;
}
.main-table td button:hover {
	background-color: #2f7b68;
	color: #ffffff;
	cursor: pointer;
}
.main-table td button:focus {
	border: none;
}
.button-wrapper {
	float: left;
	width: 68%;
}
.main-table .add-to-job-img {
	background: url(../media/add-to-jobs.png) no-repeat bottom;
	width: 35px;
	height: 35px;
	display: inline-block;
	margin: 0 3px;
	vertical-align: middle;
}
.main-table td .add-to-job-img:hover {
	background: url(../media/add-to-jobs-hover.png) no-repeat bottom;
}
.main-table .why-run-img {
	background: url(../media/why-run.png) no-repeat bottom;
	width: 35px;
	height: 35px;
	display: inline-block;
	margin: 0 3px;
    vertical-align: middle;
}
.main-table td .why-run-img:hover {
	background: url(../media/why-run-hover.png) no-repeat bottom;
}
.certification-table {
	border-collapse: collapse;
}
.certification-table th{
	padding: 15px;
	font-weight: bold;
}
.certification-table td{
	padding: 15px;
}
.certification-table .committee-name {
	text-align: center;
}
#AdminPerms {
	margin-bottom: 25px;
}




/* Section 6 - Contribute Content */
.contribute-table {
	width: 100%;
	border-collapse: collapse;
	margin: 25px 0 25px 0;
}
.contribute-table table, th, td {
    border: 1px solid black;
}
.contribute-table td {
	padding: 25px;
}





/* Section 7 - Ad Elements */
#ad_area {
    width: 100%;
    min-height: 100px;
    background: #e4e4e4;
}





/* Section 8 - Footer Structure */ 
#footer {
	position: relative;
	bottom: 0;
	width: 100%;
	clear: both;
	padding: 25px 0 25px 0;
	background-color: #1d4342;
	color: #ffffff;
}
#footer-container {
	margin: 0 auto;
	text-align: center;
}





/* Section 9 - Web Logic */ 
#webpagelogic {
    display: none;
}





/* Section 10 - Navigation Elements */ 
.dtree {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	color: #ffffff;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #ffffff;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeurl, .dtree a.nodeSelurl, .dtree a.nodeSel  {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node{
	color: #ffffff;
}

.dtree a.node:hover{
	color: #ffffff;
	font-weight: bold;
}

.dtree a.nodeurl {
	color: #ffffff;
	text-decoration: underline;
}
.dtree a.nodeurl:hover {
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
.dtree a.nodeSelurl{
	background-color: #ffffff;
	color: #000000;
	text-decoration: underline;
}

.dtree a.nodeSelurl:hover {
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
}

.dtree a.nodeSel {
	background-color: #ffffff;
	color: #000000;
}

.dtree a.nodeSel:hover {
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
}
.dtree .clip {
	overflow: hidden;
}





/* Section 11 - jQuery and Other UI Elements */ 
.viewmorediv {
	margin-bottom: 25px;
}
#accordion {
	margin-bottom: 25px;
}
.morecontent span {
	display: none;
}
